{% extends 'about.html' %}
{% load static %}
{% block tiecher %}

<div class="col-md-4 col-sm-6">
    <!-- Team Box -->
    <div class="team-box wow fadeInLeft">
        <!-- Image -->
        <img src="{% static 'img/team/teacher3.jpg' %}" alt="" class="img-responsive" /><br>
        <!-- Heading -->
        <center><h4>Нуркасым Аркабаев Кылычбекович</h4>
        <h5>Декан Кыргызско-Турецкого отделения </h5>
        <a href="{% static 'files/nurkasym.pdf' %}" class="btn-default du-common-property">Посмотреть резюме</a>
        

        <!-- Social -->
        <div class="ui-social"><br>
            <!-- Email -->
            <a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Email"><i class="bi bi-envelope-fill">dekan.ktf@oshsu.kg</i></a>
     
            
        </div></center>

    </div>
</div><br><br>

<div class="col-md-4 col-sm-6">
    <!-- Team Box -->
    <div class="team-box wow fadeInLeft">
        <img src="{% static 'img/team/teacher1.jpg' %}" alt="" class="img-responsive" /><br>
        <!-- Heading -->
        <center><h4>Мээрим Металипова Металиповна</h4>
        <h5>Заместитель декана по учебной работе</h5>
        <a href="{% static 'files/meerim.pdf' %}" class="btn-default du-common-property">Посмотреть резюме</a>

        <!-- Social -->
        <div class="ui-social"><br>
            <!-- Email -->
            <a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Email"><i class="bi bi-envelope-fill">mmetalipova@oshsu.kg</i></a>
        </div></center>

    </div>
</div><br><br>

<div class="col-md-4 col-sm-6">
    <!-- Team Box -->
    <div class="team-box wow fadeInRight">
        <!-- IMage -->
        <img src="{% static 'img/team/maksat.jpg' %}" alt="" class="img-responsive" /><br>
        
        <center><h4>Максат Орозов Омурбекович</h4>
        <h5>Заместитель декана по воспитательной работе</h5>
        <a href="{% static 'files/Maksat_kg.pdf' %}" class="btn-default du-common-property">Посмотреть резюме</a>
        
        <!-- Social -->
        <div class="ui-social"><br>
            <!-- Email -->
            <a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Email"><i class="bi bi-envelope-fill">orozov@oshsu.kg</i></a>
        </div>

    </div>
</div>


{% endblock %}