{% extends 'contact.html' %}
{% load static %}

{% block maps %}



	<!-- Begin Contact -->
	<div class="du-subpage-content">
		<div class="du-contact">

			<div class="du-google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.912141413883!2d72.80192395862419!3d40.53720141192348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdaf957fd21f59%3A0x3e7cde53a41ff8d4!2z0JrRi9GA0LPRi9C30YHQutC-LdCi0YPRgNC10YbQutC40Lkg0YTQsNC60YPQu9GM0YLQtdGC!5e0!3m2!1sru!2skg!4v1639652233459!5m2!1sru!2skg" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div><!-- /.lan-google-map-->

			<!-- Begin choose us -->
			<section class="contact ptb-50">

				

				
					
					<section class="du-contact-form">

						<div class="row">
							
							<div class="col-md-3">
                                <div class="col-md-6 wow fadeInLeft">
                                    <div class="widget">
                                        <h3 class="widget-title">Социальные сети</h3>

                                        <ul class="social social-boxed">
                                            <li><a href="https://www.facebook.com/profile.php?id=100062819674024"><i class="bi bi-facebook"></i></a></li>
                                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                            <li><a href="https://www.instagram.com/kyrgyz.turk.fakulteti.official/"><i class="bi bi-youtube"></i></a></li>
                                        </ul><!-- /.social-->
                                    </div><!-- /.widget -->
                                
								<div id="contact-info-widget" class="widget contact-info">
									<div class="heading">
										<h3>Контактное информация</h3>
									</div>
									<div class="contact-info-container">
										<span class="address"> Кыргызстан, город Ош<br>Проспект Масалиева 33</span><br/><br/>
										<span class="phone">Телефон: 0773 66 64 99</span><br/>
										<span class="email">Email: <a href="#">dekan.ktf@oshsu.kg</a>
										</span><br/>
										<span class="web">Web: <a href="http://ktf.oshsu.kg">ktf.oshsu.kg</a></span>
									</div>
								</div><!-- /.end info -->
                                </div>
							</div>
						</div>					
					</section>			
				</div>
			</section>
			<!-- End contact-->


			

{% endblock %}