{% extends 'speciality.html' %}
{% load static %}
{% block special %}

<div class="dream-university-subpage">

	<!-- Begin breadcrumbs-->
	<div class="du-page-header du-breadcrumbs">		
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12 text-left du-title">
					<div class="du-breadcrumb-title"><h3>Экономика</h3></div>				
				</div>
				<div class="col-md-5 col-sm-5 col-xs-12 text-right du-breadcrumb">
					<div class="breadcrumbs">
						Специальности
					</div>
				</div>				
			</div>
		</div>		
	</div>
	<!-- End breadcrumbs-->
	
	
	<!-- Begin About -->
	<div class="du-subpage-content">
		<div class="du-about">

			<!-- Begin choose us -->
			<section class="choose-us ptb-50">

				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 text-center">
							<h2>580100 - ЭКОНОМИКА</h2>
							
								
						</div>
					</div>
					
					<section class="about-section-1">
					
						<div class="du-choose-us pt-20">
							<div class="row">
								<div class="col-md-6 wow fadeInLeft">
									<img class="img-responsive" src="{% static 'img/0003.jpg' %}" alt="image">
								</div>
								<div class="col-md-6 wow fadeInRight">
									<p>
										&nbsp;&nbsp;&nbsp;&nbsp;В международных организациях, экономист, бухгалтер, финансист и банкир сильная соответствовать работы? Или начни свой бизнес на международном уровне көтөрүлгүн раскрытие персональных соответствовать?
                                        То, Кыргызско-Турецкого экономического факультета для специальности является самым ты правильный выбор!
                                        
                                        Это организатор бизнеса и предпринимательства специальности и подготавливает квалифицированных специалистов на международном уровне управляющей
									</p>
									
								</div>
							</div>						
						</div>

					</section>				
					
				</div>
			</section>
			<!-- End choose us -->


			<!-- Begin teacher -->
			<section class="du-teacher du-section-ash ptb-50 common">
				<!-- Team Block -->
					<div class="team-content">
						<!-- Container -->
						<div class="container">
							<div class="row">
							<h2 class="text-center">Преподователи</h2>
								<div class="col-md-3 col-sm-6">
									<!-- Team Box -->
									<div class="team-box wow fadeInLeft">
										<!-- Image -->
										<img src="{% static 'img/kaf.jpeg' %}" alt="" class="img-responsive" />
										<!-- Heading -->
										<h4>Омурбек Рахманалиевич Имаралиев</h4>
										<h5>Преподователь</h5>
										<h5>Экономика</h5>

										<!-- Social -->
										<div class="ui-social">
											<!-- Facebook -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
											<!-- Twitter -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
											<!-- LinkedIn -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin linkedin"></i></a>
											<!-- Google-Plus -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Google-Plus"><i class="fa fa-google-plus google-plus"></i></a>
										</div>

									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Box -->
									<div class="team-box wow fadeInLeft">
										<img src="{% static 'img/team/teacher1.jpg' %}" alt="" class="img-responsive" />
										<!-- Heading -->
										<h4>James Smith</h4>
										<h5>Преподователь</h5>
										<h5>Экономика</h5>

										<!-- Social -->
										<div class="ui-social">
											<!-- Facebook -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
											<!-- Twitter -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
											<!-- LinkedIn -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin linkedin"></i></a>
											<!-- Google-Plus -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Google-Plus"><i class="fa fa-google-plus google-plus"></i></a>
										</div>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Box -->
									<div class="team-box wow fadeInRight">
										<!-- IMage -->
										<img src="{% static 'img/team/teacher3.jpg' %}" alt="" class="img-responsive" />
										<h4>Tom Hanks</h4>
										<h5>Преподователь</h5>
										<h5>Экономика</h5>
										
										<!-- Social -->
										<div class="ui-social">
											<!-- Facebook -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
											<!-- Twitter -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
											<!-- LinkedIn -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin linkedin"></i></a>
											<!-- Google-Plus -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Google-Plus"><i class="fa fa-google-plus google-plus"></i></a>
										</div>
		
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Box -->
									<div class="team-box wow fadeInRight">
										<!-- Image -->
										<img src="{% static 'img/team/teacher4.jpg' %}" alt="" class="img-responsive" />
										<!-- Heading -->
										<h4>Silvester Stalin</h4>
										<h5>Преподователь</h5>
										<h5>Экономика</h5>
									
										<!-- Social -->
										<div class="ui-social">
											<!-- Facebook -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
											<!-- Twitter -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
											<!-- LinkedIn -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin linkedin"></i></a>
											<!-- Google-Plus -->
											<a href="#" class="ui-tooltip" data-toggle="tooltip" data-placement="top" title="Google-Plus"><i class="fa fa-google-plus google-plus"></i></a>
                                        </div>
									</div>
								</div>
							</div>
						</div><!-- /Container -->
					</div><!-- / Team -->				
			</section>
			<!-- End teacher -->
            
            <section class="du-contact du-section-ash ptb-50 common">
                <div class="container">				
                
                    <div class="row">
                        <h2 class="text-center">Основная информация для абитуриентов</h2>

                        <div class="col-md-6 wow fadeInLeft">
                            

                            <div class="row pt-20">

                                <div class="col-md-15">
                             
                                    <ul class="du-choose-list">
                                        <li><a href="#">Код специальности : 580100</a></li>
                                        <li><a href="#">Квалификация : Бакалавр </a></li>
                                        <li><a href="#">Срок обучения : 4 года </a></li>
                                        <li><a href="#">Условия обучения : ОРТ выше порогового значения  </a></li>
                                        
                                    </ul>									
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-md-6 wow fadeInRight">
                             
                     
                                <img class="img-responsive" src="{% static 'img/0003.jpg' %}" alt="image">

                        </div>

                    </div>
                </div>
            </section>
            <!-- End contact us -->

			


			<!-- Begin contact us -->
			<section class="du-contact du-section-ash ptb-50 common">
				<div class="container">				
				
					<div class="row">


						

                        <div class="col-md-6 wow fadeInRight">
							
							<div class="row pt-20">

								<div class="col-md-12">
									<h4>Основные случаи</h4>
									<ul>
										<li>Качественное образование без коррупции;</li>
        <li>Безграничные возможности для реализации студенческих мечтаний;</li>
        <li>Зарубежная практика : Турция, Германия, Узбекистан, Болгария, Россия и др.;</li>
        <li>Возможность продолжения обучения в магистратуре в ОшГУ и за рубежом,</li>
        <li>Участие студентов в инновационных разработках, проводимых на кафедрах и факультетах;</li>
        <li>Современные оборудованные учебные и научные лаборатории и ресурсный центр.</li>
									</ul>									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</section>


            <section class="du-contact du-section-ash ptb-50 common">
				<div class="container">				
				
					<div class="row">


						<div class="col-md-6 wow fadeInLeft">
							
							<div class="row pt-20">

								<div class="col-md-12">
									<h4>Наши следующие прохождения практики студентов на предприятиях являются:</h4>
									<ul>
										<li>в государственных и муниципальных учреждениях;</li>
                                        <li>в банках;</li>
                                        <li>в фирмах;</li>
                                        <li>в налоговом и налоговых учреждениях;</li>
                                        <li>ОсОО (общество с ограниченной ответственностью) и акционерных предприятиях;</li>
                                        <li>в университетах.</li>
									</ul>									
								</div>
								
							</div>
						</div>

                        <div class="col-md-6 wow fadeInRight">
							
							<div class="row pt-20">

								<div class="col-md-12">
									<h4>Наши следующие прохождения практики студентов на предприятиях являются:</h4>
                                    
									<ul>
										<li>экономист - аналитик</li>
                                        <li>бухгалтер</li>
                                        <li>финансист</li>
                                        <li>налоговый офицер</li>
                                        <li>менеджер бизнеса</li>
                                        <li>банкир</li>
                                        <li>маркетолог</li>
                                        <li>менеджер</li>
									</ul>									
								</div>
								
							</div>

                           
						</div>
					</div>
				</div>
			</section>
			<!-- End contact us -->


            
                        
			
			
		</div><!-- /.du-about -->
	</div><!-- /.du-subpage content -->
	<!-- End About -->


</div>

{% endblock %}