{% extends 'faculty.html' %}
{% load static %}
{% block faculty %}


<div class="dream-university-subpage">

	<!-- Begin breadcrumbs-->
	<div class="du-page-header du-breadcrumbs">		
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12 text-left du-title">
					<div class="du-breadcrumb-title"><h3>Отделение</h3></div>				
				</div>
				<div class="col-md-5 col-sm-5 col-xs-12 text-right du-breadcrumb">
					<div class="breadcrumbs">
						Страница отдела
					</div>
				</div>				
			</div>
		</div>		
	</div>
	<!-- End breadcrumbs-->
	
	
	<!-- Begin Event -->
	<div class="du-subpage-content">
		<div class="du-faculty">

			<!-- Begin faculty us -->
			<section class="faculty pt-50">

				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<h2 class="text-left">Специальности</h2>
							<div class="du-faculty-name">
								<ul class="du-choose-list">
									<li><a href="#programm-engineering"><strong>Программная инженерия</strong></a></li>
									<li><a href="#journalism"><strong>Журналистика</strong></a></li>
									<li><a href="#economy"><strong>Экономика</strong></a></li>
									<li><a href="#tourism"><strong>Туризм</strong></a></li>
								</ul>
							</div>
							
								
						</div>
					</div>
				</div>
					
					<section id="programm-engineering" class="civil-engineering pb-50">
						<div class="container">							
						
							<div class="du-civil pt-20">
								<div class="row">
									<div class="col-md-8 wow fadeInLeft">
										<h3 class="text-left">Программная инженерия</h3>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;	Специальность "Программная инженерия" неизменно лидирует по популярности среди студентов. Это направление готовит инженер-программистов, специалистов по анализу програм, другими словами, профи по самым "горячим" специальностям XXI столетия.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;Пограмма готовит инженер-программистов, обладающих навыками создания интеллектуальных систем сбора, обработки и анализа больших данных с применением методов искусственного интеллекта, навыками моделирования и управления сложными систем, способными разрабатывать программные средства анализа данных исследовательского и прикладного назначения. Выпускники программы также будут владеть универсальными навыками программирования веб- приложений любой сложности. </p>
										<a href="{% url 'programmers' %}" class="btn-default du-common-property">Узнать поподробнее</a>
										
									</div>

		
		
		
									<div class="col-md-4 wow fadeInRight">									
										<div class="faculty-short-info">
											<ul class="du-choose-list">
												<li><strong>Учреждено : </strong>	25-06-2018</li>
												<li><strong>Декан : </strong>Нуркасым Аркабаев</li>
												<li><strong>Тедефон : </strong>+996 773 64 66 99</li>
												<li><strong>Email : </strong>dekan.ktf@oshsu.kg</li>
											</ul>
										</div>	
									</div>
								</div>
							</div>						
					</div>

				</section>
				<!-- End civil engineering -->


				<section id="journalism" class="electronic-engineering du-section-ash ptb-50">
						<div class="container">							
						
							<div class="du-civil">
								<div class="row">
									<div class="col-md-8 wow fadeInLeft">
										<h3 class="text-left">Журналистика</h3>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;Реклама и связь с общественностью» направления в государственные структуры, коммерческие и некоммерческие организации, получившие поддержку и создание имиджа и деловой репутации, организовать и провести PR и рекламных кампаний, взаимодействия со средствами массовой информации, социологических и маркетинговых исследования, разработать стратегию реализации коммуникационных обеспечения и обучения специалистов. В 2020 году В городе, В Кыргызско-Турецкого факультете начата подготовка первых специалистов PR.

										</p>
										<a href="{% url 'journalismes' %}" class="btn-default du-common-property">Узнать поподробнее</a>
										
									</div>

		
		
		
									<div class="col-md-4 wow fadeInRight">									
										<div class="faculty-short-info">
											<ul class="du-choose-list">
												<li><strong>Учреждено : </strong>	25-06-2018</li>
												<li><strong>Декан : </strong>Нуркасым Аркабаев</li>
												<li><strong>Тедефон : </strong>+996 773 64 66 99</li>
												<li><strong>Email : </strong>dekan.ktf@oshsu.kg</li>
											</ul>
										</div>	
									</div>
								</div>
							</div>						
					</div>

				</section>
				<!-- End electronic-engineering -->


				<section id="economy" class="mechanical-engineering ptb-50">
						<div class="container">							
						
							<div class="du-civil">
								<div class="row">
									<div class="col-md-8 wow fadeInLeft">
										<h3 class="text-left">Экономика</h3>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;В международных организациях, экономист, бухгалтер, финансист и банкир сильная соответствовать работы? Или начни свой бизнес на международном уровне көтөрүлгүн раскрытие персональных соответствовать? То, Кыргызско-Турецкого экономического факультета для специальности является самым ты правильный выбор! Это организатор бизнеса и предпринимательства специальности и подготавливает квалифицированных специалистов на международном уровне управляющей</p>
										<a href="{% url 'economikas' %}" class="btn-default du-common-property">Узнать поподробнее</a>
										
									</div>

		
		
		
									<div class="col-md-4 wow fadeInRight">									
										<div class="faculty-short-info">
											<ul class="du-choose-list">
												<li><strong>Учреждено : </strong>	25-06-2018</li>
												<li><strong>Декан : </strong>Нуркасым Аркабаев</li>
												<li><strong>Тедефон : </strong>+996 773 64 66 99</li>
												<li><strong>Email : </strong>dekan.ktf@oshsu.kg</li>
											</ul>
										</div>	
									</div>
								</div>
							</div>						
					</div>

				</section>
				<!-- End Mechanical engineering -->	
				
				<section id="tourism" class="mechanical-engineering ptb-50">
					<div class="container">							
					
						<div class="du-civil">
							<div class="row">
								<div class="col-md-8 wow fadeInLeft">
									<h3 class="text-left">Туризм</h3>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;Деятельность гостиниц и туризма готовит специалистов в области туризма, бакалавр часть. Во многих развитых и развивающихся странах Туризм является основной отраслью вновь. Красивая природа и народ кыргызстана с новым меймандос своего места в обход международного туризма, преследующих последнее время. Исходя из этого, в гостиницах, туристических и других предприятиях общественного питания качественное обслуживание помещения нужд лицея. Возникновения спроса с кадров высшей квалификации может быть решения. При постоянной учебного туристического бизнеса координировать и сотрудничать, содействовать развитию регионального туризма и социальное развитие студентов часто обращают внимание.</p>
									<a href="{% url 'tourismes' %}" class="btn-default du-common-property">Узнать поподробнее</a>
									
								</div>

	
	
	
								<div class="col-md-4 wow fadeInRight">									
									<div class="faculty-short-info">
										<ul class="du-choose-list">
											<li><strong>Учреждено : </strong>	25-06-2018</li>
												<li><strong>Декан : </strong>Нуркасым Аркабаев</li>
												<li><strong>Тедефон : </strong>+996 773 64 66 99</li>
												<li><strong>Email : </strong>dekan.ktf@oshsu.kg</li>
										</ul>
									</div>	
								</div>
							</div>
						</div>						
				</div>

			</section>
			<!-- End Mechanical engineering -->	
					
				
			</section>
			<!-- End event -->


			
			
		</div><!-- /.du-event -->
	</div><!-- /.du-subpage content -->
	<!-- End Evnet -->


</div>




<!--footer-->
 {% include 'footer.html' %}
<!-- End footer-->



  <!--PRELOAD-->
<div id="preloader">
  <div id="status"></div>
</div>
<!--end PRELOAD--> 

{% endblock%}