{% load static %}
<!--footer-->
<footer>
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-4">
			<p class="ftext1"><ya-tr-span data-index="45-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Адрес" data-translation="Адрес" data-type="trSpan">Адрес</ya-tr-span></p><br><br>
			<p><ya-tr-span data-index="46-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Ош шаары, Масалиев проспекти 33, " data-translation="Ош, проспект Масалиева 33, " data-type="trSpan">Ош, проспект Масалиева 33, </ya-tr-span><br><ya-tr-span data-index="46-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="(Болжол Келечек базары)" data-translation="(Около рынка в Будущем)" data-type="trSpan">(Около рынка в Будущем)</ya-tr-span></p>
		  </div>
		  <div class="col-xs-12 col-sm-4 col-md-5">
			<p class="ftext1"><ya-tr-span data-index="47-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Контакт" data-translation="Контакт" data-type="trSpan">Контакт</ya-tr-span></p><br><br>
			<p><ya-tr-span data-index="48-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Email: dekan.ktf@oshsu.kg" data-translation="Email: dekan.ktf@oshsu.kg" data-type="trSpan">Email: dekan.ktf@oshsu.kg</ya-tr-span></p><br>
			<p><ya-tr-span data-index="49-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Тел: 0773 64 66 99" data-translation="Тел: 0773 66 64 99" data-type="trSpan">Тел: 0773 66 64 99</ya-tr-span></p><br>
			  <p><ya-tr-span data-index="50-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Моб: 0773 64 66 99" data-translation="Моб: 0773 66 64 99" data-type="trSpan">Моб: 0773 66 64 99</ya-tr-span></p>
			</div>
		
		  
		  <div class="col-xs-12 col-sm-4 col-md-3">
			<p class="ftext1"><ya-tr-span data-index="51-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Мы в соц." data-translation="Мы в соц." data-type="trSpan">Мы в соц.</ya-tr-span><ya-tr-span data-index="51-1" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="сетях" data-translation="сетях" data-type="trSpan">сетях</ya-tr-span></p> <br><br>
			<a href="https://www.facebook.com/profile.php?id=100062819674024"><p class="set"><i class="bi bi-facebook"></i><ya-tr-span data-index="52-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Facebook" data-translation="Facebook" data-type="trSpan"> Facebook</ya-tr-span></p></a> <br>
			<p class="set"><i class="bi bi-youtube"></i><ya-tr-span data-index="53-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="You Tube" data-translation="You Tube" data-type="trSpan"> YouTube</ya-tr-span></p><br>
			<a href="https://www.instagram.com/kyrgyz.turk.fakulteti.official/"><p class="set"><i class="bi bi-instagram"></i><ya-tr-span data-index="54-0" data-translated="true" data-source-lang="ky" data-target-lang="ru" data-value="Instagram" data-translation="Instagram" data-type="trSpan"> Instagram</ya-tr-span></p></a>
		  </div>
    </div>
</footer>
<!-- End footer-->